[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FoCo2"]
	path = FoCo2
	url = https://github.com/danigiro/foco2
[submodule "FoReco"]
	path = FoReco
	url = https://github.com/danigiro/foreco
